{% extends "base.html" %}

{% block title %}Directory listing for /{{ cur_path }}{% endblock %}

{% block content %}
<h1>Directory listing for <span class="directory">/{{ cur_path }}</span></h1>
<hr>

<ol>

    {% if cur_path != "" %}

    <li><span class="emoji-icon"> </span> <a href="../">../</a> </li>

    {% endif %}

    {% for file in lister.files %}

    {% if file.is_file %}
    <li><a class="{{file.ext}}" href="{{ file.path_uri|urlencode }}" title="{{ file.last_modified|datetime }}"><span class="emoji-icon file"> </span> {{file.name}}</a></li>

    {% else %}
    <li><a href="{{ file.path_uri|urlencode }}/" title="{{ file.last_modified|datetime }}"><span class="emoji-icon directory"> </span> {{file.name}}/</a></li>
    {% endif %}

    {% endfor %}
</ol>

<hr>

{% endblock %}



